<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<jmxConfigurator />
	<!-- <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"> 
		<resetJUL>true</resetJUL> </contextListener> -->

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- <pattern>%d - %m%n</pattern> -->
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- 演示按时间滚动的策略 -->
	<appender name="defaultLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/usr/local/app/logs/user/catalina.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/usr/local/app/logs/user/catalina.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 保留 30天数据，默认无限-->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework.data" level="INFO" />
	<logger name="com.sandy.user" level="INFO"/>
	<logger name="jdbc.sqltiming" level="INFO"/>

	<root level="info">
		<appender-ref ref="console" />
		<appender-ref ref="defaultLogFile"/>
	</root>

</configuration>